
.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to 'users/998/edit' do
            = fa_icon "edit"
        %li.side-header__box__menu__edit-user
          = link_to 'users/1130/edit' do
            = fa_icon "cog"
  .groups
    .groups__group
      %p.groups__group--group-name 
        test-group
      %p.groups__group--group-message
        さようなら
    .groups__group
      %p.groups__group--group-name 
        sample-group
      %p.groups__group--group-message
        hello!
    .groups__group
      %p.groups__group--group-name 
        example
      %p.groups__group--group-message
        まだメッセージがありません