%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}/
  %body
.wrapper
  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group 
          = @group.name
        %ul.main-header__left-box__member-list 
          Member：
          %li.main-header__left-box__member-list--name
            = current_user.name
      = link_to edit_group_path(@group) do
        .main-header__edit-btn
          Edit
    .messages
      = render @messages
      
    .form
      = form_for [@group, @message] do |f|
        .new-message
          .form-comment
            = f.text_field :content, class: 'form-comment__text', placeholder: 'type a message'
            = f.label :image, class: 'form-comment__image' do
              = fa_icon 'picture-o', class: 'img'
              = f.file_field :image, class: 'form-comment__file'
          = f.submit 'Send', class: 'send-btn'